.home-main-section {
    display: flex;
    height: 70svh;
    justify-content: space-around;
    align-items: center;
    overflow-y: hidden;
}

.home-text {
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 1rem 1rem;
    font-size: 3rem;
    font-weight: 800;
}

.home-text span {
    color: #e6cb0c;

}

.home-text p {
    margin-top: 1rem;
    font-size: 1.3rem;
}

.home-aside {
    width: 50vw;
    height: 60vh;
    margin: 1rem 1rem;
}


@media (max-width: 1000px) {
    .home-main-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-aside {
        order: -1;
        width: 80vw;
        height: 50vh;
        margin: 0;
    }
    .home-text {
        margin: 0 0 1rem 0;
        text-align: center;
    }
}

@media (max-width: 750px) {
    .home-aside {
        width: 80vw;
        height: 50vh;
    }
}

@media (max-width: 500px) {

}

@media (max-width: 350px) {

}