.socials-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1rem;
}

.social-icon {
    margin: 1rem 1rem;
    justify-content: flex-start;
    transition: 0.25s;
    border-radius: 50%;
}

.social-icon:hover {
    transform: scale(1.2) translateY(-0.2em) translateX(-0.5em);
    cursor: pointer;
    transition: 0.25s;
    box-shadow: rgba(0, 204, 255, 0.25) 0px 0px 12px 5px;
}

@media (max-width: 1000px) {
    .socials-container {
        margin-left: 0;
        padding: 0;
    }

    .social-icon {
        margin: 1rem .5rem;
    }

    .social-icon:hover {
        transform: scale(1.2) translateY(-0.2em) translateX(0em);
        cursor: pointer;
        transition: 0.25s;
    }
}