.about-page {
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.greeting {
    margin: 0.8em 2.6em;
    font-size: 3.5em;
}

.about-me-text {
    max-width: 50vw;
    margin: 1.8em 6em;
    font-weight: 400;
    font-size: 1.5em;
}

.about-pic-section {
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.profilePic {
    border-radius: 1.5rem;
    max-width: 600px;
    width: 35vw;
    margin-right: 2vw;
    margin-top: 7vh;
}

@media (max-width: 1000px) {
    .about-page {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .profilePic {
        width: 80vw;
        margin-right: 0;
        margin-top: 2vh;
    }

    .about-me-text {
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 1.5em;
    }

    .about-text-section {
        justify-content: center;
        text-align: left;
        margin: 0;
    }
}