

.about-page {
    min-height: 75vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
}

.greeting {
    margin: 1rem 3rem;
    font-size: 3.5em;
}

.about-me-text {
    margin: 0.5em 2em;
    font-weight: 400;
    font-size: 1.5em;
}

.about-pic-section {
    justify-content: flex-end;
    align-items: center;
}

.profilePic {
    border-radius: 1.5rem;
    max-width: 600px;
    width: 35vw;
    margin: 7em 3em;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.25);

}

@media (max-width: 1000px) {
    .about-page {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .profilePic {
        width: 80vw;
        margin: 2em 0;
    }

    .about-me-text {
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 1.5em;
        margin-bottom: 2.5rem;
    }

    .about-text-section {
        justify-content: center;
        text-align: left;
        margin: 0;
    }
}