.hero-main-section {
    display: flex;
    min-height: 70vh;
    justify-content: space-between;
}

.hero-section1 {
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 15rem;
    font-size: 3rem;
    font-weight: 800;
}

.hero-section1 span {
    color: #F5E81A;
    text-shadow: 0 0 0.15em black;;
}

.hero-section2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20rem;
    margin-right: 15rem;
    font-size: 3rem;
    font-weight: 800;
}

.hero-section2 h5 {
    margin: .25em 0;

}