.hero-main-section {
    display: flex;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
    overflow-y: hidden;
}

.hero-text {
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 1rem 1rem;
    font-size: 3rem;
    font-weight: 800;
}

.hero-text span {
    color: #e6cb0c;

}

.hero-avatar {
    margin: 1rem 1rem;
}

.avatar {
    max-width: 300px;
    min-width: 300px;
}

@media (max-width: 1000px) {
    .hero-main-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-avatar {
        order: -1;
        margin: 0;
    }
    .hero-text {
        margin: 0 0 1rem 0;
        text-align: center;
    }
}