.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#cfcfd290, 55%, #3c3c3c00);
    border-radius: 1rem;
    margin: 1rem 2rem;
}

@media (max-width: 1000px) {
    .header {
        margin: 0;
        justify-content: space-between;
    }
}