* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: 13vh;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: black;
    margin: 1vh 1vw;
    background: linear-gradient(rgba(255, 255, 255, 0.1), 40%, rgba(255, 255, 255, 0));
    border-radius: 1rem;
}

.footer-content {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
}

@media (max-width: 1000px) {
    .footer-container {
        justify-content: space-between;
    }
    .footer-content {
        font-size: .9rem;
    }
}