.footer-container {
    padding: 0 0 1rem 0;
    background: linear-gradient(#3c3c3c00, 55%, #cfcfd280);
    border-radius: 1rem;
    margin: 1rem 2rem;
}

.footer-content {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
}

@media (max-width: 1000px) {
    .footer-container {
        margin: 0;
        justify-content: space-between;
    }
    .footer-content {
        font-size: .9rem;
    }
}