/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #002066;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.5);
}