/*

* {
  border-color: red;
  border-style: solid;
}

*/
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*
  background-image: radial-gradient(rgb(216, 216, 84), 45%, #d67e2c);
  */
  background: radial-gradient(circle at 0% center, #64b3b4, 15%, #121C3B);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
