header {
    display: flex;
    align-items: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em 3em;
    list-style-type: none;
}

.nav-link {
    margin: 2vh 1.5vw;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: black;
    transition: 0.25s;
}

li {
    text-decoration: none;
    transition: 0.25s;
}

li:hover, .nav-link:hover {
    transform: scale(1.2) translateY(-0.2em) translateX(-0.5em);
    cursor: pointer;
    transition: 0.25s;
    color: #e6cb0c;
}


@media (max-width: 1000px) {
    .menu-container {
        margin: 0;
    }

    ul {
        margin: .5rem;
    }

    .nav-link {
        display: none;
    }

    .nav-links.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        bottom: .5;
        left: 1;
        justify-content: center;
        margin-right: 3rem;
    }

    .nav-links.open .nav-link {
        display: block;
    }

}
