ul {
    display: flex;
    justify-content: flex-end;
    margin: 3vh 5vw;
    list-style-type: none;
}

li {
    margin: 2vh 1.5vw;
    font-size: 1.5em;
    font-weight: 700;
    transition: 0.25s;
}

li:hover {
    scale: 1.2;
    transform: translateY(-0.2em);
    cursor: pointer;
    color: #F5E81A;
    transition: 0.25s;
    outline: 0.1em solid black;
}