.socials-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 3rem;
}

.social-icon {
    margin: 1rem 1rem;
    justify-content: flex-start;
    transition: 0.25s;
}

.social-icon:hover {
    transform: scale(1.2) translateY(-0.2em) translateX(-0.5em);
    cursor: pointer;
    transition: 0.25s;
}

@media (max-width: 1000px) {
    .socials-container {
        flex-direction: column;
        align-items: center;
    }
}